<h1 class="header">Apps</h1>
<div class="main_container">
	<% @games.each do |game| %>
	<div class="list_elem">
		<div class="title">
			<%= game.title %>
		</div>
		<%= image_tag game.icon, class:"image" %>
		<div class="description">
			<%= game.description %>
		</div>
		<div class="text-center">
			<%= link_to "Download", game.click_url, class:"btn btn-default" %>
		</div>
		</div>
		<% end %>	
</div>

