@import "bootstrap-sprockets";
@import "bootstrap";

.header{
	text-align:center;
	font-size: 30px;
	margin-bottom: 5%;
}

.main_container{
	height: 1100px;
}

.list_elem{
	margin: 10% 0 10% 0;
	height: 14%;
}

.title{
	font-size: 20px;
	text-align:center;
	margin-bottom: 3%;
}

.image{
	float: left;
	width: 25%;
}

.description{
	margin-left: 28%;
	height: 40%;
}

.btn-default{
	font-size: 22px;
}

